<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="blogcontainer">
            <main class="blogcontainer-main" role="main">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{
                        colPos: '0'
                    }" />
            </main>
            <aside class="blogcontainer-sidebar">
                <f:render section="renderPlugin" arguments="{listType: 'blog_sidebar'}" />
            </aside>
        </div>
    </div>

</f:section>
<f:section name="renderPlugin">

    {blogvh:data.contentListOptions(listType: listType)}
    <f:cObject typoscriptObjectPath="tt_content.list" data="{contentObjectData}" table="tt_content"/>

</f:section>
