<f:if condition="{image}">
    <f:variable name="height" value="{f:if(condition: settings.height, then: settings.height, else: '1140')}" />
    <f:variable name="width" value="{f:if(condition: settings.width, then: settings.width, else: '400c')}" />
    <figure class="blogimage blogimage--featured">
      <img alt="{image.title}" class="lazyload lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {width} {height}'%3E%3C/svg%3E" data-srcset="{f:uri.image(image: image,maxWidth:'575',height:height)} 575w, {f:uri.image(image: image,maxWidth:'768',height:height)} 768w, {f:uri.image(image: image,maxWidth:'992',height:height)} 992w, {f:uri.image(image: image,width:width,height:height)} 1300w" title="{image.title}" />
    </figure>
</f:if>
